h1{
width: 100%;
margin-top: 0;
}

.footer{
bottom: 0;
font-size: 25px;
color: aqua;
position: fixed;
text-align: center;
width: 100%;
background-color: red;
}

body{
background-size: cover;
}